<div>
    <div style="padding-left: 10px; padding-top: 10px;">
        <a (click)="previous()"><mat-icon>keyboard_backspace</mat-icon></a>
    </div>
    <div>
        <div style="display:flex;justify-content: center;">
            <h2>Register</h2>
        </div>
    </div>
    <div style="display: flex; justify-content: center;">
        <form [formGroup]="form" (ngSubmit)="submitForm()">
            <div style="height:185px;">
                <div style="height: 80px;">
                    <mat-form-field style="width: -webkit-fill-available;">
                        <input matInput [(ngModel)]="username" formControlName="username" placeholder="username">
                    </mat-form-field>
                    <div *ngIf="isSubmitted || form.get('password')?.touched">
                        <mat-error *ngIf="form.get('password')?.errors?.['required']">
                            *Password is required
                        </mat-error>
                    </div>
                </div>
                <div style="height: 80px;">
                    <mat-form-field style="width: -webkit-fill-available;">
                        <input matInput [(ngModel)]="password" formControlName="password" placeholder="Password">
                    </mat-form-field>
                    <div *ngIf="isSubmitted || form.get('password')?.touched">
                        <mat-error *ngIf="form.get('password')?.errors?.['required']">
                            *Password is required
                        </mat-error>
                        <mat-error *ngIf="form.get('password')?.errors?.['pattern']">
                            *Invalid password format
                        </mat-error>
                    </div>
                </div>
                <div style="height: 80px;">
                    <mat-form-field style="width: -webkit-fill-available;">
                        <input matInput formControlName="confirmPassword" placeholder="Confirm Password" />
                    </mat-form-field>
                    <div *ngIf="isSubmitted || form.get('confirmPassword')?.touched">
                        <mat-error *ngIf="form.get('confirmPassword')?.errors?.['required']">
                            *Confirm Password is required
                        </mat-error>
                        <mat-error *ngIf="form.get('confirmPassword')?.errors?.['pattern']">
                            *Invalid Confirm Password format
                        </mat-error>
                        <!-- Adjusted Access for passwordMismatch Error -->
                        <mat-error *ngIf="form.errors?.['passwordMismatch'] && form.get('confirmPassword')?.touched">
                            *Passwords must match
                        </mat-error>
                    </div>
                </div>
            </div>
            <div class="button-flex-container;" style="display:flex;justify-content: center;">
                <button mat-raised-button color="primary" type="submit">Submit</button>
            </div>
        </form>
    </div>
</div>