<div class="main-content page-m">
    <div class="section-content section-content-p30">
        <div class="container-fluid">
            <form [formGroup]="checkoutFormGroup" (ngSubmit)="onSubmit()">
                <div formGroupName="customer" class="form-area">
                    <h3>Customer</h3>
                    <div class="row">
                        <div class="col-md-2">
                            <label>First Name</label>
                        </div>
                        <div class="col-md-9">
                            <div class="input-space">
                                <input formControlName="firstName" type="text">
                                <div *ngIf="(isSubmitted||firstName?.touched)">
                                    <div *ngIf="firstName?.hasError('required')||firstName?.hasError('notOnlyWhiteSpace')"
                                        class="alert alert-danger">
                                        First Name is required
                                    </div>
                                    <div *ngIf="firstName?.hasError('minlength')" class="alert alert-danger">
                                        First Name must be atleast 2 characters long
                                    </div>
                                </div>
                            </div>
                        </div>

                    </div>
                    <div class="row">
                        <div class="col-md-2">
                            <label>Last Name</label>
                        </div>
                        <div class="col-md-9">
                            <div class="input-space">
                                <input formControlName="lastName" type="text">
                                <div *ngIf="(isSubmitted||lastName?.touched)">
                                    <div *ngIf="lastName?.hasError('required')||lastName?.hasError('notOnlyWhiteSpace')"
                                        class="alert alert-danger">
                                        Last Name is required
                                    </div>
                                    <div *ngIf="lastName?.hasError('minlength')" class="alert alert-danger">
                                        Last Name must be atleast 2 characters long
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-md-2">
                            <label>Email</label>
                        </div>
                        <div class="col-md-9">
                            <div class="input-space">
                                <input formControlName="email" type="text">
                                <div *ngIf="(isSubmitted||email?.touched)">
                                    <div *ngIf="email?.hasError('required')" class="alert alert-danger">
                                        Email is required
                                    </div>
                                    <div *ngIf="email?.hasError('pattern')" class="alert alert-danger">
                                        Email must be a valid address format
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <!-- shipping Address -->
                <div formGroupName="shippingAddress" class="form-area">
                    <h3>Shipping Address</h3>
                    <div class="row">
                        <div class="col-md-2">
                            <label>Country</label>
                        </div>
                        <div class="col-md-9">
                            <div class="input-space">
                                <select formControlName="country" (change)="getStates('shippingAddress')">
                                    <option *ngFor="let country of countries" [ngValue]="country">
                                        {{country.name}}
                                    </option>
                                </select>
                                <div *ngIf="(isSubmitted||shippingAddressCountry?.touched)">
                                    <div *ngIf="shippingAddressCountry?.hasError('required')"
                                        class="alert alert-danger">
                                        Country is required
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-md-2">
                            <label>Street</label>
                        </div>
                        <div class="col-md-9">
                            <div class="input-space">
                                <input formControlName="street" type="text">
                                <div *ngIf="(isSubmitted||shippingAddressStreet?.touched)">
                                    <div *ngIf="shippingAddressStreet?.hasError('required')||shippingAddressStreet?.hasError('notOnlyWhiteSpace')"
                                        class="alert alert-danger">
                                        Street is required
                                    </div>
                                    <div *ngIf="shippingAddressStreet?.hasError('minlength')"
                                        class="alert alert-danger">
                                        Street must be atleast 2 characters long
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-md-2">
                            <label>City</label>
                        </div>
                        <div class="col-md-9">
                            <div class="input-space">
                                <input formControlName="city" type="text">
                                <div *ngIf="(isSubmitted||shippingAddressCity?.touched)">
                                    <div *ngIf="shippingAddressCity?.hasError('required')||shippingAddressCity?.hasError('notOnlyWhiteSpace')"
                                        class="alert alert-danger">
                                        City is required
                                    </div>
                                    <div *ngIf="shippingAddressCity?.hasError('minlength')" class="alert alert-danger">
                                        City must be atleast 2 characters long
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-md-2">
                            <label>State</label>
                        </div>
                        <div class="col-md-9">
                            <div class="input-space">
                                <select formControlName="state">
                                    <option *ngFor="let state of shippingAddressStates" [ngValue]="state">
                                        {{state.name}}
                                    </option>
                                </select>
                            </div>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-md-2">
                            <label>ZipCode</label>
                        </div>
                        <div class="col-md-9">
                            <div class="input-space">
                                <input formControlName="zipCode" type="text">
                                <div *ngIf="(isSubmitted||shippingAddressZipCode?.touched)">
                                    <div *ngIf="shippingAddressZipCode?.hasError('required')||shippingAddressZipCode?.hasError('notOnlyWhiteSpace')"
                                        class="alert alert-danger">
                                        ZipCode is required
                                    </div>
                                    <div *ngIf="shippingAddressZipCode?.hasError('minlength')"
                                        class="alert alert-danger">
                                        ZipCode must be atleast 2 characters long
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <!-- add to check box to copy shipping to billing -->
                <div class="input-space">
                    <label class="au-checkbox">
                        <input type="checkbox" (change)="copyShippingToBilling($event)">
                        <span class="au-checkmark"></span>Billing Address same as Shipping Address
                    </label>
                </div>
                <!-- billing Address -->
                <div formGroupName="billingAddress" class="form-area">
                    <h3>Billing Address</h3>
                    <div class="row">
                        <div class="col-md-2">
                            <label>Country</label>
                        </div>
                        <div class="col-md-9">
                            <div class="input-space">
                                <select formControlName="country" (change)="getStates('billingAddress')">
                                    <option *ngFor="let country of countries" [ngValue]="country">
                                        {{country.name}}
                                    </option>
                                </select>
                                <div *ngIf="(isSubmitted||billingAddressCountry?.touched)">
                                    <div *ngIf="billingAddressCountry?.hasError('required')" class="alert alert-danger">
                                        Country is required
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-md-2">
                            <label>Street</label>
                        </div>
                        <div class="col-md-9">
                            <div class="input-space">
                                <input formControlName="street" type="text">
                                <div *ngIf="(isSubmitted||billingAddressStreet?.touched)">
                                    <div *ngIf="billingAddressStreet?.hasError('required')||billingAddressStreet?.hasError('notOnlyWhiteSpace')"
                                        class="alert alert-danger">
                                        Street is required
                                    </div>
                                    <div *ngIf="billingAddressStreet?.hasError('minlength')" class="alert alert-danger">
                                        Street must be atleast 2 characters long
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-md-2">
                            <label>City</label>
                        </div>
                        <div class="col-md-9">
                            <div class="input-space">
                                <input formControlName="city" type="text">
                                <div *ngIf="(isSubmitted||billingAddressCity?.touched)">
                                    <div *ngIf="billingAddressCity?.hasError('required')||billingAddressCity?.hasError('notOnlyWhiteSpace')"
                                        class="alert alert-danger">
                                        City is required
                                    </div>
                                    <div *ngIf="billingAddressCity?.hasError('minlength')" class="alert alert-danger">
                                        City must be atleast 2 characters long
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-md-2">
                            <label>State</label>
                        </div>
                        <div class="col-md-9">
                            <div class="input-space">
                                <select formControlName="state">
                                    <option *ngFor="let state of billingAddressStates" [ngValue]="state">
                                        {{state.name}}
                                    </option>
                                </select>
                            </div>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-md-2">
                            <label>ZipCode</label>
                        </div>
                        <div class="col-md-9">
                            <div class="input-space">
                                <input formControlName="zipCode" type="text">
                                <div *ngIf="(isSubmitted||billingAddressZipCode?.touched)">
                                    <div *ngIf="billingAddressZipCode?.hasError('required')||billingAddressZipCode?.hasError('notOnlyWhiteSpace')"
                                        class="alert alert-danger">
                                        ZipCode is required
                                    </div>
                                    <div *ngIf="billingAddressZipCode?.hasError('minlength')"
                                        class="alert alert-danger">
                                        ZipCode must be atleast 2 characters long
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <!-- creditcard details -->
                <div formGroupName="creditCard" class="form-area">
                    <h3>Credit Card</h3>
                    <div class="row">
                        <div class="col-md-2">
                            <label>Card Type</label>
                        </div>
                        <div class="col-md-9">
                            <div class="input-space">
                                <select formControlName="cardType">
                                    <option>Visa</option>
                                    <option>MasterCard</option>
                                </select>
                                <div *ngIf="(isSubmitted||creditCardType?.touched)">
                                    <div *ngIf="creditCardType?.hasError('required')" class="alert alert-danger">
                                        Card Type is required
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-md-2">
                            <label>Name On Card</label>
                        </div>
                        <div class="col-md-9">
                            <div class="input-space">
                                <input formControlName="nameOnCard" type="text">
                                <div *ngIf="(isSubmitted||creditCardNameOnCard?.touched)">
                                    <div *ngIf="creditCardNameOnCard?.hasError('required')||creditCardNameOnCard?.hasError('notOnlyWhiteSpace')"
                                        class="alert alert-danger">
                                        Name On Card is required
                                    </div>
                                    <div *ngIf="creditCardNameOnCard?.hasError('minlength')" class="alert alert-danger">
                                        Name On Card must be atleast 2 characters long
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-md-2">
                            <label>Card Number</label>
                        </div>
                        <div class="col-md-9">
                            <div class="input-space">
                                <input formControlName="cardNumber" type="text">
                                <div *ngIf="(isSubmitted||creditCardNumber?.touched)">
                                    <div *ngIf="creditCardNumber?.hasError('required')" class="alert alert-danger">
                                        Card Number is required
                                    </div>
                                    <div *ngIf="creditCardNumber?.hasError('pattern')" class="alert alert-danger">
                                        Card Number must be contains 16 characters long
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>

                    <div class="row">
                        <div class="col-md-2">
                            <label>Security Code</label>
                        </div>
                        <div class="col-md-9">
                            <div class="input-space">
                                <input formControlName="securityCode" type="text">
                                <div *ngIf="(isSubmitted||creditCardSecutiryCode?.touched)">
                                    <div *ngIf="creditCardSecutiryCode?.hasError('required')"
                                        class="alert alert-danger">
                                        Security Code is required
                                    </div>
                                    <div *ngIf="creditCardSecutiryCode?.hasError('pattern')" class="alert alert-danger">
                                        Security Code must be contains 3 characters long
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-md-2">
                            <label>Expiration Month</label>
                        </div>
                        <div class="col-md-9">
                            <div class="input-space">
                                <select formControlName="expirationMonth">
                                    <option *ngFor="let month of creditCardMonths">
                                        {{month}}
                                    </option>
                                </select>
                            </div>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-md-2">
                            <label>Expiration Year</label>
                        </div>
                        <div class="col-md-9">
                            <div class="input-space">
                                <select formControlName="expirationYear" (change)="handleMonthsAndYears()">
                                    <option *ngFor="let year of creditCardYears">
                                        {{year}}
                                    </option>
                                </select>
                            </div>
                        </div>
                    </div>
                </div>
                <!-- order details..-->
                <div class="form-area">
                    <h3>Review Your Order</h3>
                    <p>Total Quantity :{{totalQuantity}}</p>
                    <p>Total Price :{{totalPrice | currency:'USD'}}</p>
                </div>
                <!-- submit button -->
                <div class="text-center">
                    <button class="btn btn-info">Purchase</button>
                </div>

            </form>
        </div>
    </div>
</div>